 <form [formGroup]="form" (submit)="goBoard()">
<mat-dialog-content>
 
  <p>¿Cuál es tu nombre?</p>
  <div *ngIf="data.option==1">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="player1" >
  </mat-form-field>
</div>
  <div *ngIf="data.option==2">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="player2" >
    </mat-form-field>

    <p>Ingresa el id de la partida</p>
    <mat-form-field>
      <mat-label>Id partida</mat-label>
      <input matInput [(ngModel)]="queryId" [ngModelOptions]="{standalone: true}" >
    </mat-form-field>
  </div>

</mat-dialog-content>
  
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button *ngIf="data.option==2" type="button" (click)="joinBoard()" mat-dialog-close>Unirse</button>
  <button mat-button *ngIf="data.option==1" type="submit" cdkFocusInitial >¡Jugar!</button>
</mat-dialog-actions>
</form >