.board-container
    // height: 100vh
    width: 300px
    margin: auto
.start-content
    background-color: paleturquoise

.start-btns
    width: 330px
    padding: 10px
.action-btn
    padding: 10px