

<mat-list role="list">
    <div mat-subheader>Partida</div>
    <mat-list-item role="listitem">id: {{id}}</mat-list-item>
    <div mat-subheader>Jugadores</div>
    <mat-list-item role="listitem">{{game.player1}} -> (X)</mat-list-item>
    <mat-list-item role="listitem">{{game.player2}} -> (O)</mat-list-item>
  </mat-list>
<div class="board-container" >
  <h1>Turno del jugador:{{turnUserName}} {{turn}}</h1>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile
        *ngFor="let tile of tiles; index as i"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color" (click)="setMove(i)">
      {{tile.value}}
    </mat-grid-tile>
</mat-grid-list>
<div class="action-btn" *ngIf="theWinner != null || emptyCell == false">
    <h1>¡{{statusMessage}} {{theWinner}}!</h1>
    <button mat-flat-button color="warn"  (click)="resetGame()">Reiniciar Partida</button>
</div>
</div>