<div fxLayout="column" fxLayoutAlign="space-around center" class="start-container">
  <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="start-content">
        <h1>TIC-TAC-TOE</h1>

        <div fxLayout="row" fxLayoutAlign="space-around center" class="start-btns">
            <button mat-raised-button color="primary" (click)="openDialog(1)">Nueva partida</button>
            <button mat-raised-button color="accent" (click)="openDialog(2)" >Unirse a partida</button>
        </div>
    </mat-card>
</div>  